@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
body{
text-align: center;
color: white;
background-color: rgb(32, 31, 31);
font-size: medium;
font-family: 'Orbitron', sans-serif;

}